body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vmin;
}


.formdiv label, input, button{
    width: 40vw;
    margin: 5px 10px;
    padding: 10px;
    font-size: 1.1em;

    outline: none;
    border: none;
    
}
.formdiv label{
    font-weight: bolder;
    color: black;
text-align: center;

}
input{
    border: none;
    border-bottom: 3px solid rgb(66, 0, 0);
    width: 20vw;
    margin-bottom: 30px;
    transition: 1s ease;

}
input:hover{
    border-bottom: 3px solid rgb(187, 0, 255);
    transition: 0.5s ease;
}
button{
    width: 20vw;
    margin-top: 50px;
    background:#6D676E;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}
button:hover{
    background:rgb(223, 223, 223);
    color: #3a3a3a;
    transition: 1s ease;
}
.grid1{
    margin-bottom: 30px;
}
.grid2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
    border-radius: 20px;
    background: white;
    height: 600px;
    width: 1000px;
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.44); 
}