@charset "utf-8";
	.XMLID_272_
{
	background-image : url(XMLID_272_.png);
	background-repeat : no-repeat;
}
.XMLID_413_
{
	background : #F5F5F5;
	background : rgba(245, 245, 245, 1);
}
.XMLID_418_
{
	background : #EBEBEB;
	background : rgba(235, 235, 235, 1);
}
